body {
    font-family: italics;
    background-color: steelblue;
    margin-top: 75px;
    color: white;
    animation: fadein;  
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

